<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.laihj.anTimeLog"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/antimelog">
        <activity android:name="anTimeLog"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name="editItem"
		  android:label="@string/app_name">
	  <intent-filter>
	    <action android:name="net.laihj.anTimeLog.action.EDIT_ITEM" />
	    <category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
	</activity>
	<activity android:name="settings"
		  android:label="@string/app_name">
	  <intent-filter>
	    <action android:name="net.laihj.anTimeLog.action.SETTING" />
	    <category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
	</activity>
	<activity android:name="reports"
		  android:label="@string/app_name">
	  <intent-filter>
	    <action android:name="net.laihj.anTimeLog.action.REPORT" />
	    <category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
	  </activity>
	<activity android:name="reportDetail"
		  android:label="@string/app_name">
	  <intent-filter>
	    <action android:name="net.laihj.anTimeLog.action.REPORTDETAIL" />
	    <category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
	</activity>

    </application>
</manifest> 
